.light-theme{
    background-color: rgb(255, 255, 255);
}
.dark-theme{
    background-color: black;
}
.cardContainer{
    width: 800px;

}
 .bodyContainerProfile, .bodyContainerAcademic{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bodyContainerAcademic{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
}
.titleHome, .titleMyProfile{
    margin: 3%;
}

.titleMyAcademic{
    margin: 3%;
    margin-right: 7%;
}
#colHome{
    margin: 2% 0;
}
#formContainerProfileData{
    width: 800px;
    height: 600px;
}
.lagartixaBB{
    display: flex;
    width: 25%;
    justify-content: start;
    flex-direction: column;
    align-items: start;
    box-shadow: 5px 4px 13px 0px rgba(0,0,0,0.68);
-webkit-box-shadow: 5px 4px 13px 0px rgba(0,0,0,0.68);
-moz-box-shadow: 5px 4px 13px 0px rgba(0,0,0,0.68);
}

span{
    margin: 1% 1%;
}

#spanbadge{
    color: white;
}

.examsContainer{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 5px 4px 13px 0px rgba(0,0,0,0.68);
-webkit-box-shadow: 5px 4px 13px 0px rgba(0,0,0,0.68);
-moz-box-shadow: 5px 4px 13px 0px rgba(0,0,0,0.68);
}

.asistenciasContainer{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 5px 4px 13px 0px rgba(0,0,0,0.68);
-webkit-box-shadow: 5px 4px 13px 0px rgba(0,0,0,0.68);
-moz-box-shadow: 5px 4px 13px 0px rgba(0,0,0,0.68);
}
.examsContainer, h2{
text-align: center;
}

.asistenciasContainer, h2{
    text-align: center;
    }

    .badgeAcademic{
        margin: 0 1%;
    }

    #changePass{
        margin-left: 8px;
        font-size: 10px;
        font-weight: bold;
        width: 30px;
        height: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #containerChangePass{
        display: flex;

    }

.sidebar{
    width: 20%;
    height: 100vh;
    padding-top: 60px;
    padding-left: 10px;
    border-left: 2px solid rgba(128, 128, 128, 0.458);
}

.containerprofile{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
    height: 100vh;
    border-left: 2px solid rgba(128, 128, 128, 0.458);
}

.bodyContainer{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.containerNoticias{
    width: 75%;
    height: 100vh;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
}


td{
    font-size: 10px;
}
.examen{
    padding: 3%;
    margin: 3% auto;
    display: flex;
    width: 90%;
    height: 300px;
    background-color: rgb(234, 230, 230);
    height: 60px;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    border-radius: 8px;
}

.examen div{
    margin: 3% auto;
    display: flex;
    width: 90%;
    height: 100%;
    background-color: rgb(234, 230, 230);
    height: 60px;
    flex-direction: column;
    font-size: 10px;
    justify-content: center;
    align-items: center;

}

.dataAndExams{
    width: 100vw;
    display: flex;
    justify-content: space-around;
}